[Desktop Entry]
Name=Obsidian
Exec=/home/philipp/.local/bin/obsidian/Obsidian.AppImage --ozone-platform=wayland %u
Terminal=false
Type=Application
Icon=obsidian
Categories=Office;
MimeType=x-scheme-handler/obsidian;
